// @include sm {
    //page-front
    footer {
        
        background-color: gray;
        text-align: center;

        .logo {
            display: inline-block;
            margin-top: 60px;
            width: 100px;
            height: auto;
        }

        small {
            display: inline-block;
            color: white;
            background-color: gray;
            height: 100px;
            width: 100%;
            line-height: 100px;
        }
    }
