// .body {
//     text-align: right;
    


.contents-wrapper {
    width: 100%;
    margin: 0 auto;
    
    #my-cross {
        color: black; 
        padding: 20px 20px 0 0;
        // margin: 0 0 0 auto;
        float: right;
    }

    .location {
        padding: 100px 50px;
        font-size: 40px;
    }

    .map {
        width: 100%;
        height: 800px;
        padding: 10%;
        background-color: #FAF2F2;
        display: block;
        margin: 0 auto;
    }

    .address {
        padding: 100px 50px;
    }
}    


@include md {
    .contents-wrapper {
        width: 70%;
        margin: 0 auto;

        .location {
            padding: 100px;
        }

        .map {
            padding: 10%;
            height: 800px;
            width: 100%;
        }

        .address {
            padding: 100px;
        }
    }
}

@include lg {
    .contents-wrapper {
        width: 70%;
        margin: 0 auto;

        .map {
            width: 90%;
            padding: 10%;
            height: 800px;
        }
    }    
}