.motto {
    display: inline-block;
    position: absolute;
    top: 70%;
    left: 28%;
    color: white;
    background-color: $red;
    border-radius: 25px;
    font-size: 20px;
    width: 45%;
    padding: 3px 5px;
    background: linear-gradient(to top right,#7E1111, #FC2222);
    text-decoration: none;
    box-shadow: 3px 3px 3px gray;

            &:hover {
                transform: translateY(3px);/*下に動く*/
                box-shadow: 0 0 0;
            }
}

.motto {
    position: absolute;
    top: 70%;
    left: 65%;
    color: white;
    background-color: $red;
    border-radius: 25px;
    font-size: 20px;
    width: 22%;
    padding: 3px 15px;
    background: linear-gradient(to top right,#7E1111, #FC2222);

        &:hover {
            transform: translateY(3px);/*下に動く*/
            box-shadow: 0 0 0;
        }
}